<template>
  <div>
    <upload-photo v-on:image-upload="imageUploaded" />
  </div>
</template>

<script>
import UploadPhoto from "../components/UploadPhoto.vue";

export default {
  components: {
    UploadPhoto,
  },

  methods: {
    imageUploaded(url) {
      console.log("url: ", url);
    },
  },
};
</script>

<style>
</style>